<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/memes/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name="title"
                        class="form-control" placeholder="Image Title">
                    </div>
                    <div class="form-group">
                        <textarea name="description"
                        class="form-control" placeholder="Meme Description"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image"
                            class="custom-file-input" id="inputGroupFile01">
                            <label for="inputGrupFile01"
                            class="custom-file-label">Choose File</label>
                        </div>
                    </div>
                    <button class="btn btn-primary">
                        iWantMeme
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {{#each images}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{imageURL}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

